.footer {
  background-color: #0D0D0D;
  color: #C0C0C0;
  padding: 40px 20px 20px;
  border-top: 1px solid #2E2E2E;
  margin-top:50px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin-bottom: 20px;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  cursor: pointer;
  max-width: 250px;
}

.footer-logo-img {
  width: 120px;
  margin-bottom: 10px;
}

.footer-tagline {
  font-size: 14px;
  color: #C0C0C0;
}

.footer-title {
  color: #FFFFFF;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin: 6px 0;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-links li:hover {
  color: #9B30FF;
}

.footer-bottom {
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid #2E2E2E;
  font-size: 14px;
}

.footer-highlight {
  color: #6A0DAD;
  font-weight: bold;
}
